html, body {
    margin: 0;
    height: 100%;
}





nav {
	margin-bottom: 1rem;
}

.updates {

	max-height: 100%;
	padding: 1rem;



}

.post {
	padding: 1rem;

}

.updates h4 {
	border-bottom: solid 1px grey;
	font-weight: bold;
}

.post h5 {
	border-bottom: solid 1px grey;
	
}

.post textarea {
	width: 100%;
}

.post input {
	float: right;
}

.individual-update {
	padding: 1rem;
	border-radius: 10px;
	background-color: #f0ebeb;
	margin-bottom: 10px;
}

.update-author {
	border-bottom: solid 1px grey;
}
